html,
body		{ font-family: 'NanumSquare', sans-serif; }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
